.videoTile {
  max-width: 800px;
  min-width: 800px;
  background-color: #0a1e2d;
}
.videoTile video {
  width: 100%;
  max-height: 600px;
  min-height: 378px;
}

.hidden {
  display: none;
}

.videoTile + .videoTile {
  margin-top: 15px;
}

.videoContent {
  padding: 2rem 4rem 0rem;
  margin: auto;
  position: relative;
}
.videoWrapper {
  position: relative;
}
.videoContentControls {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  background-image: url("./images/play-button.png");
}

.videoTextContent {
  padding: 33px 0px 36px;
}

.videoTextContent h2 {
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin: 0;
  line-height: 52px;
}

.description {
  color: #ebdfca;
  font-size: 23px;
  margin: 0;
  line-height: 44px;
}
