.videoTile {
  max-width: 800px;
  min-width: 800px;
  background-color: #0a1e2d;
}
.videoTile video {
  width: 100%;
}

.videoTile + .videoTile {
  margin-top: 15px;
}

.videoContent {
  padding: 2rem 4rem 0rem;
  margin: auto;
}

.videoTextContent {
  padding: 33px 0px 36px;
}

.videoTextContent h2 {
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin: 0;
  line-height: 52px;
}

.description {
  color: #ebdfca;
  font-size: 23px;
  margin: 0;
  line-height: 44px;
}
