.videoKeywordsSelector {
  font-family: "Avenir";
  font-size: 18px;
  color: #ebdfca;
  display: flex;
  flex-flow: column;
  padding-bottom: 3rem;
}
.videoKeywordsSelector label {
  padding-bottom: 0.5rem;
}

.videoKeywordsSelector select {
  font-size: 18px;
}

.videoKeywordsSelector select:focus {
  outline: unset;
}
