.videoPage {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-y: hidden;
  height: 100vh;
}

.videoPage img {
  max-width: 1080px;
}

.hidden {
  display: none;
}

.videoList {
  margin-top: 367px;
  min-height: 1548px;
  max-height: 1548px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 1080px;
  background-color: #204966;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0.5rem;
  box-sizing: border-box;
}

.header {
  position: fixed;
}

.noVideos {
  color: white;
  padding: 2rem 0rem;
  font-size: 23px;
}

.description {
  color: #ebdfca;
  font-size: 23px;
  margin: 0;
  line-height: 44px;
  max-width: 392px;
  text-align: center;
  position: absolute;
  left: 583px;
  top: 126px;
}
