.App {
  text-align: center;
}

@font-face {
  font-family: Avenir;
  src: url(./components/fonts/Avenir-Medium-09.ttf);
}

body {
  font-family: Avenir;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}
